// /* Snake Game */
body {
    margin: 10;
    padding: 10;
    background-color: rgb(61, 61, 61);
    color: rgb(226, 226, 226);
    box-sizing: border-box;
}

.master-wrapper {
    // margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // align-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(48, 48, 48);
}

.square {
    width: 20px;
    height: 20px;
    // background-color: blue;
    // border: 1px solid rgba(0, 0, 0, 0.171);
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}