body {
    margin: 0;
    font-size: 16px;
    background-color: #353D2F;
    color: #fffbfe;
    font-family: 'Oxygen', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    height: 50vh;
    // align-content: center;
}

h4 {
    margin-bottom: 4em;
}

.btn {
    margin-top: 5em;
    padding: 2em 4.5em;
    border: none;
    border-radius: 5em;
    font-size: 1.125rem;
    font-weight: 900;
    background-color: #6BA368;
    color: #fffbfe;
    cursor: pointer;
}